In [4]:
# Import the relevant libraries
import numpy as np
import pandas as pd

In [6]:
# Read all the files
# main netflix file
netflix_titles = pd.read_csv("netflix_titles.csv")
# netflix original content files
netflix_original = pd.read_csv("netflix_original_movie_data.csv")
# imdb basic name (title) file
imdb_title_basic = pd.read_csv("title.basics.tsv", sep='\t')
# imdb rating file
imdb_ratings = pd.read_csv("title.ratings.tsv", sep='\t')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
netflix_original["original"] = 1

In [8]:
netflix_original

,Unnamed: 0,Title,Directed by,Produced by,Screenplay by,Based on,Starring,Music by,Cinematography,Edited by,...,Indonesian,German,Norwegian,Polish,Music,Lyrics,Book,Basis,Productions,original
0,0,Beasts of No Nation,Cary Joji Fukunaga,Amy Kaufman Cary Joji Fukunaga Daniela Taplin ...,Cary Joji Fukunaga,"['Beasts of No Nation', 'by Uzodinma Iweala']",Idris Elba Abraham Attah Kurt Egyiawan Jude Ak...,Dan Romer,Cary Joji Fukunaga,Mikkel E. G. Nielsen Pete Beaudreau,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,The Ridiculous 6,Frank Coraci,Allen Covert Adam Sandler Ted Sarandos,NaN,NaN,Adam Sandler Terry Crews Jorge Garcia Taylor L...,Rupert Gregson-Williams Elmo Weber,Dean Semler,Tom Costain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2,"Crouching Tiger, Hidden Dragon: Sword of Destiny",Yuen Woo-ping,Charlie Nguyen Harvey Weinstein,John Fusco,"['Iron Knight, Silver Vase', 'by', 'Wang Dulu']",Donnie Yen Michelle Yeoh,Shigeru Umebayashi,Newton Thomas Sigel,Jeff Betancourt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,3,Pee-wee's Big Holiday,John Lee,"['Judd Apatow', 'Paul Reubens']",NaN,NaN,"['Paul Reubens', 'Joe Manganiello']",Mark Mothersbaugh,Tim Orr,Jeff Buchanan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,4,Special Correspondents,Ricky Gervais,Chris Coen Aaron L. Gilbert Ricky Gervais Ted ...,NaN,"['Envoyés très spéciaux', 'by Simon Michaël & ...",Ricky Gervais Eric Bana Vera Farmiga Kevin Pol...,Dickon Hinchliffe,Terry Stacey,Nicolas Chaudeurge,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,518,What Did Jack Do?,David Lynch,Sabrina S. Sutherland,NaN,NaN,David Lynch,NaN,Scott Ressler,David Lynch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
519,519,Road to Roma,Andres Clariond Gabriel Nuncio,NaN,NaN,NaN,Yalitza Aparicio Odín Ayala Eugenio Caballero,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
520,520,Sitara: Let Girls Dream,Sharmeen Obaid-Chinoy,Gloria Steinem,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
521,521,Ben Platt Live from Radio City Musical Hall,Alex Timbers Sam Wrench,Gary Lanvy,NaN,NaN,Ben Platt Crystal Monee Hall Kojo Littles Alle...,NaN,Cameron Barnett Brett Turnbull,Hamish Lyons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
522,522,The Boys in the Band,Joe Mantello,Ryan Murphy David Stone Joe Mantello Ned Marte...,Mart Crowley Ned Martel,"['The Boys in the Band', 'by Mart Crowley']",Jim Parsons Zachary Quinto Matt Bomer Andrew R...,NaN,Bill Pope,Adriaan van Zyl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [128]:
netflix_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            523 non-null    int64
 1   Title                 521 non-null    object
 2   Directed by           515 non-null    object
 3   Produced by           398 non-null    object
 4   Screenplay by         109 non-null    object
 5   Based on              99 non-null     object
 6   Starring              453 non-null    object
 7   Music by              329 non-null    object
 8   Cinematography        357 non-null    object
 9   Edited by             360 non-null    object
 10  Production companies  125 non-null    object
 11  Distributed by        506 non-null    object
 12  Release date          490 non-null    object
 13  Running time          452 non-null    object
 14  Country               500 non-null    object
 15  Language              501 non-null    object
 16  Budget                65 non-null     object
 17  Box office            23 non-null     object
 18  Running Time          451 non-null    float64
 19  Budget.1              64 non-null     float64
 20  Box Office            22 non-null     float64
 21  Release date.1        473 non-null    object
 22  imdb                  0 non-null      float64
 23  metascore             0 non-null      float64
 24  rotten_tomatoes       0 non-null      float64
 25  Written by            310 non-null    object
 26  Production company    289 non-null    object
 27  Story by              43 non-null     object
 28  Narrated by           8 non-null      object
 29  French                5 non-null      object
 30  Spanish               15 non-null     object
 31  Italian               5 non-null      object
 32  Portuguese            2 non-null      object
 33  Animation by          1 non-null      object
 34  Hangul                0 non-null      float64
 35  Revised Romanization  2 non-null      object
 36  Japanese              0 non-null      float64
 37  Literally             1 non-null      object
 38  Turkish               1 non-null      object
 39  Indonesian            3 non-null      object
 40  German                1 non-null      object
 41  Norwegian             1 non-null      object
 42  Polish                1 non-null      object
 43  Music                 2 non-null      object
 44  Lyrics                2 non-null      object
 45  Book                  2 non-null      object
 46  Basis                 1 non-null      object
 47  Productions           2 non-null      object
 48  original              523 non-null    int64
dtypes: float64(8), int64(2), object(39)
memory usage: 200.3+ KB

In [9]:
# delete all columns except Title and original
# https://stackoverflow.com/questions/26347412/drop-multiple-columns-in-pandas/26347456
netflix_original.drop(netflix_original.iloc[:, 2:48], inplace=True, axis=1)

In [10]:
netflix_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  523 non-null    int64
 1   Title       521 non-null    object
 2   original    523 non-null    int64
dtypes: int64(2), object(1)
memory usage: 12.4+ KB

In [11]:
netflix_original.drop(['Unnamed: 0'], inplace=True, axis=1)

In [12]:
netflix_original

                                                Title  original
0                                 Beasts of No Nation         1
1                                    The Ridiculous 6         1
2    Crouching Tiger, Hidden Dragon: Sword of Destiny         1
3                               Pee-wee's Big Holiday         1
4                              Special Correspondents         1
..                                                ...       ...
518                                 What Did Jack Do?         1
519                                      Road to Roma         1
520                           Sitara: Let Girls Dream         1
521       Ben Platt Live from Radio City Musical Hall         1
522                              The Boys in the Band         1

[523 rows x 2 columns]

In [13]:
netflix_combined_df = pd.merge(netflix_titles, netflix_original, how="left", left_on="title", \
                               right_on="Title", sort=True, copy=True)

In [14]:
netflix_combined_df['original'] = netflix_combined_df['original'].fillna(0)

In [15]:
netflix_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7798 entries, 0 to 7797
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7798 non-null   object
 1   type          7798 non-null   object
 2   title         7798 non-null   object
 3   director      5408 non-null   object
 4   cast          7078 non-null   object
 5   country       7291 non-null   object
 6   date_added    7788 non-null   object
 7   release_year  7798 non-null   int64
 8   rating        7791 non-null   object
 9   duration      7798 non-null   object
 10  listed_in     7798 non-null   object
 11  description   7798 non-null   object
 12  Title         428 non-null    object
 13  original      7798 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 913.8+ KB

In [16]:
netflix_combined_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,original
0,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",NaN,0.0
1,s29,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,95 min,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",NaN,0.0
2,s32,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,102 min,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ...",NaN,0.0
3,s33,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...,NaN,0.0
4,s35,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,105 min,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7793,s557,TV Show,忍者ハットリくん,NaN,NaN,Japan,"December 23, 2018",2012,TV-Y7,2 Seasons,"Anime Series, Kids' TV","Hailing from the mountains of Iga, Kanzo Hatto...",NaN,0.0
7794,s2083,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,1 Season,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh...",NaN,0.0
7795,s3072,TV Show,마녀사냥,NaN,"Si-kyung Sung, Se-yoon Yoo, Dong-yup Shin, Ji-...",South Korea,"February 19, 2018",2015,TV-MA,1 Season,"International TV Shows, Korean TV Shows, Stand...",Four Korean celebrity men and guest stars of b...,NaN,0.0
7796,s2930,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...,NaN,0.0
7797,s3090,Movie,최강전사 미니특공대 : 영웅의 탄생,Young Jun Lee,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",NaN,0.0

In [17]:
netflix_combined_df['show_id'] = netflix_combined_df['show_id'].str[1:]
netflix_combined_df['show_id'] = pd.to_numeric(netflix_combined_df['show_id'])
netflix_combined_df.sort_values(by=['show_id'], ascending=True, inplace=True)

In [18]:
#set show_id as index
netflix_combined_df.set_index('show_id', inplace=True)

In [19]:
netflix_combined_df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,original
show_id,,,,,,,,,,,,,
1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,NaN,0.0
2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,NaN,0.0
3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",NaN,0.0
4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",NaN,0.0
5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,NaN,0.0
7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,0.0
7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",NaN,0.0
7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,NaN,0.0
7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,NaN,0.0

In [54]:
#netflix_combined_df.to_csv("netflix_combined.csv")

In [55]:
#netflix_titles.shape[0]

7787

In [56]:
#netflix_combined_df.shape[0]

7798

In [58]:
#netflix_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7798 entries, 0 to 7797
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7798 non-null   object
 1   type          7798 non-null   object
 2   title         7798 non-null   object
 3   director      5408 non-null   object
 4   cast          7078 non-null   object
 5   country       7291 non-null   object
 6   date_added    7788 non-null   object
 7   release_year  7798 non-null   int64
 8   rating        7791 non-null   object
 9   duration      7798 non-null   object
 10  listed_in     7798 non-null   object
 11  description   7798 non-null   object
 12  Title         428 non-null    object
 13  original      7798 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 913.8+ KB

In [59]:
#netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [20]:
netflix_titles.sort_values(by=['title'], ascending=True, inplace=True)

In [30]:
netflix_titles.shape[0]

7787

In [22]:
# how to remove duplicates - https://stackoverflow.com/questions/43698764/removing-rows-with-a-duplicate-column-pandas-dataframe-python
netflix_combined_df.drop_duplicates('title', inplace = True)

In [142]:
# netflix_combined_df.reset_index(inplace=True)

In [23]:
netflix_combined_df.shape[0]

7787

In [24]:
netflix_combined_df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,original
show_id,,,,,,,,,,,,,
1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,NaN,0.0
2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,NaN,0.0
3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",NaN,0.0
4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",NaN,0.0
5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,NaN,0.0
7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,0.0
7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",NaN,0.0
7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,NaN,0.0
7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,NaN,0.0

In [29]:
# merge the imdb datasets
imdb_df = pd.merge(imdb_title_basic, imdb_ratings, how="inner", on="tconst", sort=True, copy=True)

In [31]:
imdb_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1680
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.0,207
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1417
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",6.1,122
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.1,2213

In [32]:
# merge the imdb_df to the netflix_combined_df
netflix_df = pd.merge(netflix_combined_df, imdb_df, how="left", left_on="title", right_on="primaryTitle")

In [33]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24012 entries, 0 to 24011
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            24012 non-null  object
 1   title           24012 non-null  object
 2   director        16378 non-null  object
 3   cast            22318 non-null  object
 4   country         22657 non-null  object
 5   date_added      23950 non-null  object
 6   release_year    24012 non-null  int64
 7   rating          24005 non-null  object
 8   duration        24012 non-null  object
 9   listed_in       24012 non-null  object
 10  description     24012 non-null  object
 11  Title           1527 non-null   object
 12  original        24012 non-null  float64
 13  tconst          22422 non-null  object
 14  titleType       22422 non-null  object
 15  primaryTitle    22422 non-null  object
 16  originalTitle   22422 non-null  object
 17  isAdult         22422 non-null  object
 18  startYear       22422 non-null  object
 19  endYear         22422 non-null  object
 20  runtimeMinutes  22422 non-null  object
 21  genres          22422 non-null  object
 22  averageRating   22422 non-null  float64
 23  numVotes        22422 non-null  float64
dtypes: float64(3), int64(1), object(20)
memory usage: 4.6+ MB

In [34]:
netflix_df.sample(20)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,...,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
14134,Movie,Raising the Bar,Clay Glen,"Kelli Berglund, Lili Karamalikis, Tess Fowler,...",Australia,"August 1, 2017",2016,TV-Y,97 min,"Children & Family Movies, Dramas, Sports Movies",...,tvEpisode,Raising the Bar,Raising the Bar,0,2003,\N,23,"Adventure,Animation,Comedy",7.2,8.0
23779,Movie,XX,"Jovanka Vuckovic, Annie Clark, Roxanne Benjami...","Natalie Brown, Jonathan Watton, Melanie Lynske...","Canada, United States","June 22, 2017",2017,R,81 min,Horror Movies,...,tvEpisode,XX,XX,0,2017,\N,24,"Animation,Comedy,Documentary",8.1,25.0
13309,Movie,Paradox,Daryl Hannah,"Neil Young, Lukas Nelson, Micah Nelson, Corey ...",United States,"March 23, 2018",2018,TV-MA,74 min,"Dramas, Independent Movies",...,short,Paradox,Paradox,0,2006,\N,19,"Short,Thriller",6.9,712.0
12202,TV Show,My First First Love,NaN,"Ji Soo, Jung Chae-yeon, Jinyoung, Choi Ri, Kan...",South Korea,"July 26, 2019",2019,TV-14,2 Seasons,"International TV Shows, Korean TV Shows, Roman...",...,tvSeries,My First First Love,My First First Love,0,2019,2019,50,Drama,7.6,1370.0
3169,Movie,Burning Sands,Gerard McMurray,"Trevor Jackson, Alfre Woodard, Trevante Rhodes...",United States,"March 10, 2017",2017,TV-MA,102 min,"Dramas, Independent Movies",...,movie,Burning Sands,Burning Sands,0,2017,\N,96,Drama,6.0,2579.0
22163,Movie,To All the Boys: P.S. I Still Love You,Michael Fimognari,"Lana Condor, Noah Centineo, Jordan Fisher, Ann...",United States,"February 12, 2020",2020,TV-14,102 min,"Comedies, Romantic Movies",...,movie,To All the Boys: P.S. I Still Love You,To All the Boys: P.S. I Still Love You,0,2020,\N,101,"Comedy,Drama,Romance",6.0,25916.0
605,Movie,After,Jenny Gage,"Josephine Langford, Hero Fiennes Tiffin, Selma...",United States,"October 9, 2019",2019,PG-13,106 min,"Dramas, Romantic Movies",...,short,After,After,0,1998,\N,24,"Drama,Short",7.4,15.0
4897,Movie,Destiny,Youssef Chahine,"Nour El-Sherif, Laila Elwi, Mahmoud Hemeida, S...","France, Egypt","June 19, 2020",1997,TV-14,136 min,"Dramas, International Movies",...,movie,Destiny,Destiny,0,2010,\N,\N,Action,3.8,12.0
5578,Movie,Elf Pets: Santa’s Reindeer Rescue,Chanda Bell,"Brad Hyland, Drew Barber, Ashley Roberts, Lowr...",United States,"November 1, 2020",2020,TV-Y,27 min,Children & Family Movies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20196,TV Show,The Miracle,NaN,"Donghyun Kim, Nahyun, Yang Hak Jin, Yoon Hwa Hong",South Korea,"April 10, 2017",2016,TV-14,1 Season,"International TV Shows, Korean TV Shows, TV Dr...",...,movie,The Miracle,Miraklet,0,2013,\N,90,Drama,5.2,74.0
14648,Movie,Revelations,Vijay Jayapal,"Chetan, Lakshmi Priyaa Chandramouli, Ananthara...",India,"March 1, 2017",2016,NR,118 min,"Dramas, International Movies",...,movie,Revelations,Revelations,1,1976,\N,55,Adult,4.9,8.0
23554,Movie,White Christmas,Michael Curtiz,"Bing Crosby, Danny Kaye, Rosemary Clooney, Ver...",United States,"November 15, 2020",1954,TV-G,120 min,"Children & Family Movies, Classic Movies, Come...",...,tvEpisode,White Christmas,White Christmas,0,2015,\N,21,"Comedy,Drama,Romance",8.3,1313.0
24003,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies",...,movie,Zoom,Zoom,0,2016,\N,\N,Horror,6.3,32.0
17807,Movie,The Box,Richard Kelly,"Cameron Diaz, James Marsden, Frank Langella, J...",United States,"June 1, 2019",2009,PG-13,116 min,"Sci-Fi & Fantasy, Thrillers",...,tvEpisode,The Box,The Box,0,2019,\N,45,"Drama,Sci-Fi,Thriller",8.3,924.0
14595,Movie,Results,Andrew Bujalski,"Guy Pearce, Cobie Smulders, Kevin Corrigan, Gi...",United States,"October 22, 2015",2015,R,105 min,"Comedies, Independent Movies",...,movie,Results,Results,0,2015,\N,105,"Comedy,Romance",5.4,6578.0
12860,TV Show,One More Time,NaN,"L, So-hui Yoon, Gi-du Kim, Chang-hwan Kim, Ji ...",South Korea,"March 10, 2017",2016,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",...,short,One More Time,One More Time,0,1931,\N,7,"Animation,Comedy,Family",5.7,241.0
16893,TV Show,Supergirl,Jesse Warn,"Melissa Benoist, Mehcad Brooks, Chyler Leigh, ...",United States,"May 25, 2020",2019,TV-14,5 Seasons,"TV Action & Adventure, TV Sci-Fi & Fantasy",...,tvEpisode,Supergirl,Supergirl,0,2012,\N,20,Comedy,8.2,17.0
15048,Movie,Run,Jeeva,"Abhishek Bachchan, Bhoomika Chawla, Mahesh Man...",India,"March 1, 2018",2004,TV-14,134 min,"Action & Adventure, International Movies, Musi...",...,short,Run,Run,0,2003,\N,15,Short,6.0,6.0
17305,Movie,Thank You,Anees Bazmee,"Akshay Kumar, Bobby Deol, Sonam Kapoor, Irrfan...",India,"August 2, 2018",2011,TV-14,131 min,"Comedies, International Movies, Romantic Movies",...,movie,Thank You,Thank You,0,2013,\N,\N,Crime,5.3,76.0
4174,Movie,Contract,Ram Gopal Varma,"Adhvik Mahajan, Prasad Purandhare, Sakshi Gula...",India,"March 2, 2019",2008,TV-14,116 min,"Action & Adventure, Dramas, Independent Movies",...,tvEpisode,Contract,Contract,0,2003,\N,\N,"Crime,Drama,Mystery",8.3,32.0

In [36]:
netflix_df.drop_duplicates('title', inplace = True)

In [37]:
netflix_df.shape[0]

7787

In [38]:
netflix_df.to_csv("final_df.csv")

In [39]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7787 entries, 0 to 24011
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            7787 non-null   object
 1   title           7787 non-null   object
 2   director        5398 non-null   object
 3   cast            7069 non-null   object
 4   country         7280 non-null   object
 5   date_added      7777 non-null   object
 6   release_year    7787 non-null   int64
 7   rating          7780 non-null   object
 8   duration        7787 non-null   object
 9   listed_in       7787 non-null   object
 10  description     7787 non-null   object
 11  Title           417 non-null    object
 12  original        7787 non-null   float64
 13  tconst          6197 non-null   object
 14  titleType       6197 non-null   object
 15  primaryTitle    6197 non-null   object
 16  originalTitle   6197 non-null   object
 17  isAdult         6197 non-null   object
 18  startYear       6197 non-null   object
 19  endYear         6197 non-null   object
 20  runtimeMinutes  6197 non-null   object
 21  genres          6197 non-null   object
 22  averageRating   6197 non-null   float64
 23  numVotes        6197 non-null   float64
dtypes: float64(3), int64(1), object(20)
memory usage: 1.5+ MB